<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.itshaala.model.Employee" name="employee" scope="singleton">
        <!--Setter based dependency injection-->
        <property name="id" value="101"/>
        <property name="name" value="Rahul"/>
        <property name="salary" value="10000"/>

        <!--constructor based dependency injection -->
       <!-- <constructor-arg name="id" value="101"/>
        <constructor-arg name="name" value="Rahul"/>
        <constructor-arg name="salary" value="10000"/>-->

    </bean>

</beans>